<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grid</title>

    <style>

        .grid {
            display: grid;
            grid-template-columns: 70% 30%;
            /*grid-column-gap: 1em;*/
            /*grid-row-gap: 1em;*/
            grid-gap: 1em;
        }

        .grid > div{
            background: #eee;
            padding: 1em;
        }

        .grid > div:nth-child(odd) {
            background: #ddd;
        }

    </style>

</head>
<body>

    <div class="grid">
        <div>
            <h1>CSS Grid Is Awesome</h1>
            Cupcake gummi bears bear claw toffee lemon drops tootsie roll pudding bonbon candy canes. Brownie candy canes jelly marzipan jujubes pie. Cookie sweet jujubes icing. Toffee candy tart sweet roll ice cream jujubes danish gingerbread. Ice cream gummi bears fruitcake. Icing macaroon jelly sesame snaps jelly beans fruitcake oat cake tiramisu candy canes. Toffee cookie halvah powder cupcake liquorice chupa chups. Croissant marzipan ice cream. Bear claw chocolate jelly beans sweet roll toffee. Dessert icing candy canes fruitcake pie. Pudding ice cream bear claw cake cookie dragée topping powder. Carrot cake icing lemon drops sesame snaps cupcake gingerbread brownie bonbon. Marshmallow biscuit gummies. Biscuit sweet roll cupcake cotton candy cake danish.
        </div>
        <div>
            Cupcake gummi bears bear claw toffee lemon drops tootsie roll pudding bonbon candy canes. Brownie candy canes jelly marzipan jujubes pie. Cookie sweet jujubes icing. Toffee candy tart sweet roll ice cream jujubes danish gingerbread. Ice cream gummi bears fruitcake. Icing macaroon jelly sesame snaps jelly beans fruitcake oat cake tiramisu candy canes. Toffee cookie halvah powder cupcake liquorice chupa chups. Croissant marzipan ice cream. Bear claw chocolate jelly beans sweet roll toffee. Dessert icing candy canes fruitcake pie. Pudding ice cream bear claw cake cookie dragée topping powder. Carrot cake icing lemon drops sesame snaps cupcake gingerbread brownie bonbon. Marshmallow biscuit gummies.
        </div>
        <div>
            <h1>CSS Grid Is Awesome</h1>
            Cupcake gummi bears bear claw toffee lemon drops tootsie roll pudding bonbon candy canes. Brownie candy canes jelly marzipan jujubes pie. Cookie sweet jujubes icing. Toffee candy tart sweet roll ice cream jujubes danish gingerbread. Ice cream gummi bears fruitcake. Icing macaroon jelly sesame snaps jelly beans fruitcake oat cake tiramisu candy canes. Toffee cookie halvah powder cupcake liquorice chupa chups. Croissant marzipan ice cream. Bear claw chocolate jelly beans sweet roll toffee. Dessert icing candy canes fruitcake pie. Pudding ice cream bear claw cake cookie dragée topping powder. Carrot cake icing lemon drops sesame snaps cupcake gingerbread brownie bonbon. Marshmallow biscuit gummies. Biscuit sweet roll cupcake cotton candy cake danish.
        </div>
        <div>
            Cupcake gummi bears bear claw toffee lemon drops tootsie roll pudding bonbon candy canes. Brownie candy canes jelly marzipan jujubes pie. Cookie sweet jujubes icing. Toffee candy tart sweet roll ice cream jujubes danish gingerbread. Ice cream gummi bears fruitcake. Icing macaroon jelly sesame snaps jelly beans fruitcake oat cake tiramisu candy canes. Toffee cookie halvah powder cupcake liquorice chupa chups. Croissant marzipan ice cream. Bear claw chocolate jelly beans sweet roll toffee. Dessert icing candy canes fruitcake pie. Pudding ice cream bear claw cake cookie dragée topping powder. Carrot cake icing lemon drops sesame snaps cupcake gingerbread brownie bonbon. Marshmallow biscuit gummies.
        </div>
        <div>
            Hello
        </div>
    </div>


</body>
</html>