{% extends "base.html" %}
{% block head_title %}Display || {{ block.super }}{% endblock head_title %}
{% load static %}
{% block content %}


<head>
    <title>Display</title>
</head>

<body onload="startTime()">

    <div class="site">
        <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

        <header class="masthead" >
            <p class="site-title" id="clock">Standard two-column layout</p>
        </header><!-- .masthead -->

        <aside class="quote">
            <p style="text-align: center"><strong>{{ ben_quote }}</strong></p>
        </aside>

        <aside class="sidebar">

        </aside>

        <main id="content" class="main-content">
            <h1>Uke {{ weekNum }}</h1>
            <h2>{{ weeksUntilExam }} uker til eksamen</h2>


        </main>


        <aside class="twin">
            <h2 class="twin-sub-header">Upcoming Bedpresser</h2>
            <hr>
            {% for bedpress in bedpresser %}
                <ul>
                    <a href="https://online.ntnu.no{{ bedpress.absolute_url }}" target="_blank"><li><h3>{{ bedpress.title }}</h3></li></a>
                        <ul>
                            <li>Påmelding  : {{ bedpress.attendance_event.registration_start }}</li>
                            <li>Event Start: {{ bedpress.event_start }}</li>
                            <li>Start: {{ bedpress.location }}</li>
                            <li>Antall plasser: {{ bedpress.attendance_event.max_capacity }}</li>

                        </ul>
                </ul>
                {% endfor %}
        </aside>

        <aside class="twin">
            <h2>Upcoming Launches</h2>
            <hr>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Net</th>
                </tr>
                {% for launch in launchDict.launches %}
                <tr>
                    <td>{{ launch.name }}</td>
                    <td>{{ launch.net }}</td>
                </tr>
                {% endfor %}
            </table>
        </aside>

        <footer class="colophon grid">
            <aside>Github : <strong><a href="https://github.com/aukcode/infoscreen">aukcode</a></strong> </aside>
        </footer>
    </div>

    <script>

        //Get time and insert to header
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('clock').innerHTML =
            h + ":" + m; // + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) {i = "0" + i}  // add zero in front of numbers < 10
            return i;
        }

    </script>
</body>
</html>
{% endblock content %}
