{% extends "base.html" %}
{% block head_title %}Display || {{ block.super }}{% endblock head_title %}
{% load static %}
{% block content %}


<head>
    <title>Display</title>
</head>

<body onload="startTime()">

    <div class="site">

        <header class="clock-header" >
            <p class="clock" id="clock">Standard two-column layout</p>
        </header>

        <aside class="quote">
            <p style="text-align: center"><strong>{{ quote }}</strong></p>
        </aside>


        {# TODO: Perhaps these could be a Model instead? #}
        <aside class="sidebar">
            <div class="card">
                <p><strong>Mandag:</strong><br>Oppsummering av forrige uke. Mål, økonomi og budskjett</p>
            </div>
            <div class="card">
                <p><strong>Tirsdag:</strong><br>Shop. Food prep. Vask klær</p>
            </div>
            <div class="card">
                <p><strong>Onsdag:</strong><br>Fellesvask. Rydd og vask i eget. Minimalisme</p>
            </div>
            <div class="card">
                <p><strong>Torsdag:</strong><br>Brett klær. Digital orden og minimalisme. Misc / etterslep</p>
            </div>
        </aside>


        <main id="content" class="main-content">
            <p class="main-content-text">{{ today }} - Uke {{ weekNum }}</p>
            <br><br><br><br><br><br><br><br>
            <p class="main-content-text">{{ daysToSara.days }} Dager Til Sara</p>
            <p class="main-content-text">{{ weeksUntilExam }} uker til eksamen</p>
        </main>


        <aside class="twin">
            <h2 class="twin-sub-header">Upcoming Bedpresser</h2>
            <hr>
            {% for bedpress in bedpresser %}
                <ul>
                    <a href="https://online.ntnu.no{{ bedpress.absolute_url }}" target="_blank"><li><h3>{{ bedpress.title }}</h3></li></a>
                        <ul>
                            <li>Påmelding  : {{ bedpress.attendance_event.registration_start }}</li>
                            <li>Event Start: {{ bedpress.event_start }}</li>
                            <li>Start: {{ bedpress.location }}</li>
                            <li>Antall plasser: {{ bedpress.attendance_event.max_capacity }}</li>
                        </ul>
                </ul>
                {% endfor %}
        </aside>

        <aside class="twin">
            <h2>Upcoming Launches</h2>
            <hr>
                {% for launch in launchDict.launches %}
                    <div class="card">
                        {{ launch.name|truncatewords:4 }}
                        {# TODO: there is a |timeuntil function in django. figure out of it #}
                        {{ launch.net|truncatewords_html:2 }}
                    </div>
                {% endfor %}
        </aside>

        <footer class="colophon grid">
            <aside>Github : <strong><a href="https://github.com/aukcode/infoscreen">aukcode</a></strong> </aside>
        </footer>

    </div>

    <script>
        //Get time and insert to header
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('clock').innerHTML =
            h + ":" + m; // + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) {i = "0" + i}  // add zero in front of numbers < 10
            return i;
        }
    </script>
</body>
</html>
{% endblock content %}
